* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  text-decoration: none;
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1262px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
}

.heading-xl {
  font-size: 48px;
  color: #ffffff;
  font-weight: 700;
}
@media (max-width: 768px) {
  .heading-xl {
    font-size: 30px;
  }
}
.heading-lg {
  font-size: 40px;
  line-height: 48px;
  color: #32325c;
  font-weight: 700;
}
@media (max-width: 768px) {
  .heading-lg {
    font-size: 20px;
    line-height: 28px;
  }
}
.heading-md {
  font-size: 32px;
  color: #32325c;
  font-weight: 700;
}

.heading-sm {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.27;
  font-weight: 500;
  color: #32325c;
}

.paragraph-md {
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 400;
}
@media (max-width: 768px) {
  .paragraph-md {
    font-size: 14px;
    line-height: 22px;
  }
}
.paragraph-lg {
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  color: #5b6c94;
}
@media (max-width: 768px) {
  .paragraph-lg {
    font-size: 16px;
    line-height: 26px;
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px 0px;
  border: none;
  background-color: #1fdb84;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
.btn:hover {
  box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.8);
}
.btn-sm {
  font-size: 16px;
  padding: 5px 26px;
}
.btn-lg {
  font-size: 18px;
  padding: 18px 46px;
}
.btn-elg {
  font-size: 16px;
  letter-spacing: 1px;
  padding: 20px 35px;
  border-radius: 5px 0px;
}
@media (max-width: 1024px) {
  .btn-elg {
    padding: 20px 20px;
  }
}

/* ........header......... */
.header {
  font-size: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  z-index: 10;
}

.nav {
  padding-top: 25px;
  padding-bottom: 25px;
}
.nav-menu {
  display: inline-block;
  width: 50%;
  text-align: center;
}
@media (max-width: 1024px) {
  .nav-menu {
    display: none;
  }
}
.nav-right {
  text-align: end;
  display: inline-block;
  width: 25%;
}
@media (max-width: 1024px) {
  .nav-right {
    display: none;
  }
}
.nav-items:not(:last-child) {
  margin-right: 37px;
}
.nav-links:hover {
  color: #1fdb84;
  transition: all 0.7s;
}
.nav-bgcolor {
  background-color: rgba(32, 64, 45, 0.9215686275);
}

.brand-logo {
  display: inline-block;
  color: #ffffff;
  font-size: 26px;
  font-weight: 500;
  width: 25%;
  text-align: left;
}

.ham-button {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
  display: none;
  z-index: 5;
}
.ham-button > .toggle1 {
  margin-bottom: 0;
  transform: rotate(45deg) translate(10px, 0px);
  background-color: #ff0000;
  transition: transform 400ms;
}
.ham-button > .toggle2 {
  margin-bottom: 0;
  background: transparent;
}
.ham-button > .toggle3 {
  margin-bottom: 0;
  transform: rotate(-45deg) translate(2px, 7px);
  background-color: #ff0000;
  transition: transform 400ms;
}
@media (max-width: 1024px) {
  .ham-button {
    display: block;
  }
}

.line1,
.line2,
.line3 {
  margin-bottom: 5px;
  height: 2px;
  width: 30px;
  background-color: #1fdb84;
  transition: transform 400ms;
  display: block;
}

/* ........mobile-menu.............. */
.mobile-nav {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(18, 17, 16, 0.9294117647);
  text-align: center;
  padding: 50px 0 0 0;
  left: 0;
  top: 0;
  transform: translate(-100%, -100%);
  transition: all 0.5s;
}
.mobile-nav .mobile-menu li {
  display: block;
  padding: 30px 0 0 0;
}

.display {
  transform: translate(0, 0);
  transition: transform 0.6s ease;
}

.hero {
  font-size: 0;
  background-color: #313a5a;
  width: 100%;
}
.hero-para {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .hero-para {
    margin-top: 25px;
    max-width: 100%;
    padding: 0 50px;
  }
}
.hero-btn {
  margin-top: 35px;
}
.hero-image {
  display: inline-block;
  width: 50%;
  text-align: end;
}
@media (max-width: 768px) {
  .hero-image {
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
}
.hero-heading {
  max-width: 80%;
}
@media (max-width: 768px) {
  .hero-heading {
    max-width: 100%;
  }
}
.hero, .hero-content {
  padding-top: 128px;
}
@media (max-width: 768px) {
  .hero, .hero-content {
    padding-top: 68px;
  }
}
.hero-image img {
  max-width: 100%;
  max-height: 792px;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .bitcoins {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-top: 100px;
}
@media (max-width: 768px) {
  .hero .bitcoins {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
}

/* .......characters section....... */
.fnt-clrchge {
  color: #5b6c94;
}

.fnt-fm-chge {
  font-size: 17px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .fnt-fm-chge {
    font-size: 16px;
  }
}

.characters {
  margin-top: -90px;
  position: relative;
  z-index: 2;
  max-width: 86%;
  margin-left: auto;
  margin-right: auto;
}
.characters-heading {
  margin-bottom: 28px;
}
.characters-heading:after {
  content: "";
  display: block;
  width: 15%;
  border-bottom: solid 3px #1fdb84;
  padding-top: 7px;
  margin-bottom: 18px;
}
.characters-contain {
  font-size: 0;
  border-radius: 10px;
  box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
  background-color: #ffffff;
  padding: 66px 80px 56px 80px;
}
.characters-cards {
  display: inline-block;
  width: calc((100% - 100px) / 3);
  vertical-align: top;
}
@media (max-width: 992px) {
  .characters-cards {
    width: 100%;
    vertical-align: top;
  }
}
.characters-contain > .characters-cards:not(:last-child) {
  margin-right: 50px;
  margin-bottom: 20px;
}
.characters-logo {
  background-color: rgba(31, 219, 132, 0.1);
  padding: 20px 15px;
  display: inline-block;
  border-radius: 6px;
  margin-bottom: 26px;
}

/* ..............plan-details................ */
.plan-details {
  padding: 200px 0;
  font-size: 0;
  text-align: center;
}
@media (max-width: 768px) {
  .plan-details {
    padding: 100px 0;
  }
}

.monthly {
  color: #1fdb84;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 35px;
  letter-spacing: 2px;
  margin-top: 60px;
  display: inline-block;
  border: solid 1px #1fdb84;
}
.monthly:hover {
  background-color: #f1fff8;
}
@media (max-width: 768px) {
  .monthly {
    font-size: 10px;
    padding: 12px 20px;
  }
}

/* ........cards......... */
.card {
  font-size: 0;
  margin-top: 64px;
}
.card-items {
  display: inline-block;
  width: calc((100% - 20px) / 3);
  padding: 56px 40px;
  vertical-align: top;
  transition: all 0.4s;
}
@media (max-width: 768px) {
  .card-items {
    width: 100%;
    margin-top: 10px;
    max-width: 400px;
  }
}
.card-items:not(:last-child) {
  margin-right: 10px;
}
.card-price {
  font-size: 72px;
  color: #1fdb84;
  line-height: 64px;
  margin-top: 31px;
}
.card-lists {
  padding: 60px 0 0 0;
  min-height: 300px;
}
.card-lists__items {
  display: block;
  margin-bottom: 20px;
}
.card-items:hover {
  box-shadow: 0 7px 24px 10px rgba(83, 83, 83, 0.1);
  background-color: #ffffff;
  border-top: solid 4px #0a8aff;
}

.mr-t-50 {
  margin-top: 50px;
}

.mr-t-50 {
  margin-top: 50px;
}

.brd-l-5 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.brd-r-5 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* .........carousle......... */
.carousle {
  background: linear-gradient(to right, white 40%, #313a5a 40%);
}
.carousle-items {
  position: relative;
  padding: 170px 0;
}
.carousle-image {
  background: url(/dist/svg/quotes\ big.svg) no-repeat center/cover;
  height: 413px;
  width: 300px;
  position: absolute;
  left: 15%;
  top: 0;
  transform: translate(-15%);
}
@media (max-width: 768px) {
  .carousle-image {
    height: 180px;
    width: 120px;
    left: 41px;
  }
}
.carousle-cards {
  display: inline-block;
  min-height: 500px;
  width: 420px;
  padding: 80px 50px 63px 50px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.95);
  white-space: normal;
  margin-right: 50px;
  transition: all 1s ease-in;
}
@media (max-width: 768px) {
  .carousle-cards {
    width: 85%;
    min-width: 250px;
    padding: 50px 20px 50px 20px;
    min-height: 300px;
  }
}
.carousle-cards:last-child {
  visibility: hidden;
}

.image-text {
  padding: 40px 0 0 5px;
  font-weight: 500;
}

.author-name {
  color: #031d5b;
  font-weight: 500;
  line-height: 2px;
  margin-top: 43px;
}

.card-text {
  margin-top: 23px;
}

.carousleslide-items {
  margin-left: auto;
  white-space: nowrap;
  width: 70%;
  height: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  transition: ease 0.6ms;
}
.carousleslide-items::-webkit-scrollbar {
  display: none;
}
@media (max-width: 768px) {
  .carousleslide-items {
    width: 90%;
  }
}

.active-card {
  background-color: #1fdb84;
}
.active-card .quotes-active {
  fill: #ffffff;
}
.active-card .card-text {
  color: #ffffff;
}
.active-card .author-name {
  color: #ffffff;
}

.dot {
  display: inline-block;
  padding: 7px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin-right: 5px;
}
.dot:hover {
  background-color: #ffffff;
}
.dot.active {
  background-color: #ffffff;
}

.carousle-slidedots {
  position: absolute;
  bottom: 10%;
  left: 50%;
}

/* ..........other-platforms...section..... */
.other-platforms {
  padding: 200px 0 180px 0;
  text-align: center;
}
.other-platforms__heading {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #031d5b;
  margin-bottom: 46px;
}

.mg-right:not(:last-child) {
  margin-right: 47px;
}

.mg-top {
  margin-top: 30px;
}

/* .......footer........ */
.footer {
  text-align: center;
  padding-bottom: 115px;
}
.footer-heading {
  color: #5b6c94;
}
.footer-links {
  color: #5b6c94;
}
.footer-links:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 768px) {
  .footer-links:not(:last-child) {
    margin-right: 4px;
  }
}
.footer-links:not(:last-child):after {
  content: "/";
  padding-left: 20px;
}
.footer-nav {
  margin-top: 50px;
}

.nav-links--footer {
  color: #5b6c94;
}/*# sourceMappingURL=main.css.map */