

.btn {
    display: inline-block;
    text-decoration: none;
    color: $text-color-general;
    border-radius: 10px 0px;
    border: none;
    background-color: $background-color;
    font-weight: weight(bold);
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;

    &:hover {
        box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.8);
      }
      
      &-sm {
        font-size: 16px;
        padding: 5px 26px;
      }
      &-lg {
        font-size: 18px;
        padding: 18px 46px;
      }
      
      &-elg {
        font-size: 16px;
        letter-spacing: 1px;
        padding: 20px 35px;
        border-radius: 5px 0px;

        @include responsive(tablet) {
          padding: 20px 20px;
        }
      }
  }
  
 
